@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    border: 0;
    letter-spacing: -0.015em;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    background: #fff;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    line-height: 150%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;
}

input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

img::selection {
    background: space;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* common */

#root {
    height: 100%;
}

main {
    @apply h-full
    pt-8 md:pt-12 xl:pt-16
    bg-slate-900 text-white;
}

header {
    @apply w-screen fixed
    left-0 top-0
    h-8 md:h-12 xl:h-16
    text-base font-bold sm:text-lg md:text-2xl xl:text-4xl
    uppercase
    px-5
    border-b border-solid border-gray-400
    flex justify-center items-center
    bg-slate-900 text-white;
}

.wrap-main {
    @apply py-5 px-4
    md:py-8 md:px-6
    xl:py-12 xl:px-8;
}

.chessGrid {
    @apply w-full grid grid-cols-8 grid-rows-8 aspect-square;
}

.flexCenter {
    @apply flex justify-center items-center;
}

/* scrollbar */

.scrollbar::-webkit-scrollbar {
    @apply w-3;
}

.scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-600 rounded-lg;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-400 rounded-lg
    border-3 border-solid border-neutral-400;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-300 border-neutral-300;
}

@media (max-width: 639px) {
    ._Board {
        width: -webkit-fill-available;
    }
}
